@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Light.woff2') format('woff2'),
      url('./fonts/Quicksand-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

::placeholder {
  color: white;
  font-size: 16px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Quicksand';
  /* max-width: 100vw; */
  background-color: rgb(141, 7, 141);
  scroll-behavior: smooth;
  padding: 0px;
  max-height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
